In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('data.csv') #----- following command reads the csv file and stores it into the variable df

In [18]:
df.head(10) #-- this tells us the first 10 data of csv file

   fever  age  bodypain  rn  diffibre  prohablity
0    104   70         1   0        -1           1
1    105   44         0   1        -1           1
2    106   16         0   1        -1           1
3    107   80         1   1         0           1
4    108   21         0   1         1           1
5    109   83         0   1         0           1
6    110   23         1   1         1           1
7    111   45         0   0        -1           1
8    112   56         0   1        -1           0
9    113   20         1   1        -1           1

In [19]:
df.tail(10) #-- tells us the last 10 data of csv file

      fever  age  bodypain  rn  diffibre  prohablity
8067    101   85         0   1         1           1
8068    103   57         1   1         1           1
8069    102   64         1   1        -1           0
8070    104   37         0   0        -1           0
8071    100   14         1   0         1           1
8072    102   59         1   1         1           0
8073    102   60         0   1         0           0
8074     99   64         1   1         1           1
8075    101   33         0   0         1           1
8076    103   73         0   0         1           1

In [20]:
df.info() #-- tells us the info of each column like number of data , data inside , data type and memory use

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8077 entries, 0 to 8076
Data columns (total 6 columns):
fever         8077 non-null int64
age           8077 non-null int64
bodypain      8077 non-null int64
rn            8077 non-null int64
diffibre      8077 non-null int64
prohablity    8077 non-null int64
dtypes: int64(6)
memory usage: 378.7 KB

In [21]:
df['diffibre'].value_counts()  #-- tells us the number of times unique data is present

-1    2745
 0    2712
 1    2620
Name: diffibre, dtype: int64

In [22]:
df['rn'].value_counts()

1    4071
0    4006
Name: rn, dtype: int64

In [23]:
df.describe() #-- tells us the insite of data like mean , max , min and other factors

,fever,age,bodypain,rn,diffibre,prohablity
count,8077.000000,8077.000000,8077.000000,8077.000000,8077.000000,8077.000000
mean,101.515290,49.150427,0.499195,0.504024,-0.015476,0.501176
std,2.295401,29.326019,0.500030,0.500015,0.814908,0.500030
min,98.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,100.000000,24.000000,0.000000,0.000000,-1.000000,0.000000
50%,101.000000,49.000000,0.000000,1.000000,0.000000,1.000000
75%,103.000000,74.000000,1.000000,1.000000,1.000000,1.000000
max,115.000000,100.000000,1.000000,1.000000,1.000000,1.000000

## creating empty dataframe

In [32]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])  #-- creates a dataframe with the each list data in each row like row 1 will have data 1 2 3 row 2 will have 4 5 6 and so on..

In [28]:
df1

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [30]:
empty_df = pd.DataFrame() #-- creates a dataframe which is empty

In [34]:
df1.shape

(4, 3)

In [37]:
df1.iloc[0:2,0:3] #-- gives us data from initial variable like 0 here to FINAL-1 variable like 2 and 3 here

   0  1  2
0  1  2  3
1  4  5  6

In [38]:
df1.iloc[1:3,0:2]

   0  1
1  4  5
2  7  8

In [41]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]] , columns = ['A','B','C'])  #--- by this method , we can assign column names

In [40]:
df1

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [42]:
df1.iloc[1:3,0:2]

   A  B
1  4  5
2  7  8

In [46]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[7,11,12]], columns = ['A','B','C'])

In [48]:
df1['A'].astype('category') #--- gives us list of unique data presnt and replaces that with something which takes low memory . is used to reduce file size

0    1
1    4
2    7
3    7
Name: A, dtype: category
Categories (3, int64): [1, 4, 7]

In [50]:
df1.to_csv("test.csv") #-- converts the dataframe to csv file . here we can also enter the file path by writing r'file path comes here'
#== if we run this , index is also stored which takes un necessary data . to prevent this , we can pass index = false as argument which whill not store this data
df1.to_csv(r"test_fin.csv" , index = False)